<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT9AFmcMVJuB-YF-h5QttP9yVLlniRJR4</string>
	<key>GCM_SENDER_ID</key>
	<string>584302465567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikola.BetaBuddy</string>
	<key>PROJECT_ID</key>
	<string>betabuddy-758ac</string>
	<key>STORAGE_BUCKET</key>
	<string>betabuddy-758ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584302465567:ios:43d95f9519f084d1677b2a</string>
</dict>
</plist>